body {
    padding: 0 1%;
    cursor: default;
    background-color: #fafbff;
    visibility: hidden;
    height:100%;
}
body, td, input, select, textarea, button {
    color: #4e607d;
    font: menu;
    font-size: 9pt;
}
hr {
    height: 0;
    border: 0;
    border-top: solid 1px #ddd;
    margin: 15px 0;
}
small {
    font-size: 7.5pt;
    font-weight: normal;
}

.ltr, .ltr * {
    direction: ltr !important;
    text-align: left !important;
}

.link {
    text-decoration: none;
}

.button {
    min-width: 120px;
    color: #567;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    padding: 6px;
    border: solid 1px #abc;
    border-radius: 2px;
    background: #ECF0F1;
    -webkit-box-shadow: 0 1px 2px #ddd;
}

.button.bold {
    font-weight: bold;
}

.button:hover {
    background: #E5E5E5;
}

.button:active {
    background: #f5f9f4;
}

.button img {
    vertical-align: text-bottom;;
}
.bold{
    font-weight:bold;
}

#optionsTable {
    width: 100%;
}

#optionsTable td {
    padding: 0;
}
#xdebugOptions td {
    padding: 2px 0;
}

#header {
    font-size: 18pt;
    text-shadow: #ccc 1px 1px 3px;
    border: solid 1px #abc;
    border-radius: 6px;
    padding: 3px;
    margin-bottom: 10px;
    background-color: #fff;
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(0.48, hsl(217, 73%, 97%)), color-stop(0.51, hsl(217, 62%, 95%)));*/
    -webkit-box-shadow: 0 1px 2px #ddd;
}

#header img {
    vertical-align: middle;
    margin: 0 4px;
    width:55px;
    height: 55px;
}

#header * {
    font-size: 18pt;
    text-shadow: #ccc 1px 1px 3px;
}

#header .close {
    padding: 15px;
    cursor: pointer;
}

#tabsRow td {
    background-color: #f8fafd;
    border-bottom: solid 1px #d1dbdf;
}

#tabsContainer {
    border-bottom: solid 1px #d1dbdf;
    background-color: #fafbff;
    margin-bottom: -4px;
    margin-top: 20px;
}

#tabsContainer div {
    vertical-align: bottom;
    font-size: 9pt;
    font-weight: bold;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.4, #fff), color-stop(0.41, hsl(207, 0%, 98%)));
    border: solid 1px #abc;
    border-radius: 3px 3px 0 0;
    margin-bottom: -1px;
    display: inline-block;
    text-align: center;
    padding: 6px 8px 7px;
    color: #7e90ad;
    cursor: pointer;
    opacity: 0.8;
    -webkit-transition: opacity 0.5s, -webkit-box-shadow 0.3s;
    -webkit-margin-start: 2px;
}

#tabsContainer div:first-child {
    -webkit-margin-start: 0;
}

#tabsContainer div.selected {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.4, #fafcfd), color-stop(0.41, hsl(207, 43%, 96%)), color-stop(0.8, hsl(216, 56%, 98%)));
    border-bottom: none;
    -webkit-transition: opacity 0.5s, -webkit-box-shadow 0.3s;
    opacity: 1;
}

#tabsContainer div.normal:hover {
    background-image: none;
    background-color: hsl(197, 54%, 97%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.4, #fff), color-stop(0.41, hsl(216, 60%, 98%)));
}

#tabsContainer div label {
    cursor: pointer;
}

#tabRulesBody {
    display: none;
}

#body {
    height: 100%;
    padding: 13px;
    border: solid 1px #abc;
    border-radius: 0 0 6px 6px;
    background-color: hsl(216, 56%, 98%);
    -webkit-box-shadow: 0 0 2px #eee;
}

#body .title {
    font-weight: bold;
    margin-bottom: 2px;
}

#body .control {
    text-align: right;
}

#body .spacer, #body .spacer25 {
    height: 25px;
}

#body .spacer20 {
    height: 20px;
}

#body .spacer10 {
    height: 10px;
}

#body .spacer5 {
    height: 5px;
}


.rulesTable {
    width: 100%;
    height: 100%;
    border: solid 1px #d0d6d9;
    border-spacing: 1px;
    margin: 30px 0 10px 0;
    table-layout: fixed;
}

.rulesTable th, .rulesTable td {
    text-align: start;
}

.rulesTable th {
    height: 28px;
    padding: 0 8px;
    font-size: 9pt;
    font-weight: normal;
    border: solid 0 #d2e4e9;
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(0.48, hsl(217, 73%, 96%)), color-stop(0.51, hsl(217, 62%, 94%))); */
}

.rulesTable {
    border-spacing: 0;
    -webkit-box-shadow: 0 0 2px #ddd;
}

.rulesTable th {
    border-left: solid 1px #e2e7e9;
    border-bottom: solid 1px #d7dbe0;
    font-weight: bold;
    color: #6e809d;
    white-space: nowrap;
    overflow: hidden;
}

.rulesTable td {
    height: 29px;
    border-top: solid 1px #e2e7e9;
    border-left: solid 1px #e2e7e9;
    background-color: #fafcfe;
    overflow: hidden;
    padding: 1px;
}

.rulesTable tr:nth-child(odd) td {
    background-color: #f8fafc;
}

.rulesTable .defaultRow td {
    background-color: #f0f3f4 !important;
}

.rulesTable td input {
    width: 97% !important;
    min-height: 24px;
    height: 100%;
    padding: 0 3px;
    display: none;
}

#ideSelect,.rulesTable td select {
    border: solid 1px #ccddee;
    min-height: 22px;
    height: 22px !important;
    margin: 0 2px 0 0;
}
.rulesTable td select {
    display: block;
    width: 100% !important;
}
.rulesTable td select:hover {
    background-color: #fff;
    border: solid 1px #ccddee;
}

.rulesTable td input[type='radio'] {
    display: inline-block;
    width: auto;
}

.rulesTable td input {
    font-size: 9pt;
    z-index: 30;
}

.rulesTable td .tag {
    position: relative;
    z-index: 100;
    float: right;
    font-size: 8pt;
    background-color: #8ac;
    color: #fff;
    padding: 2px;
    margin-right: 4px;
    border-radius: 3px;
}
.rulesTable td span {
    -webkit-padding-start: 6px;
}
.rulesTable td img {
    cursor: pointer;
}

.color {
    height: 100%;
    padding: 6px;
}

.color div {
    cursor: pointer;
    height: 100%;
}

.blue {
    background-color: #9ce;
    outline: solid 1px #7ac;
}

.green {
    background-color: #9d9;
    outline: solid 1px #7b7;
}

.red {
    background-color: #fa8;
    outline: solid 1px #d86;
}

.yellow {
    background-color: #fe9;
    outline: solid 1px #dc7;
}

.purple {
    background-color: #d497ee;
    outline: 1px solid #b477ce;
}

.cblue {
    color: #47b;
}

.cgreen {
    color: #5b5;
}

.cred {
    color: #d63;
}

.cyellow {
    color: #ca0;
}

.rulesTable .delete {
    background: url("../images/delete.png") center no-repeat;
    cursor: pointer;
    height: 100%;
}

.rulesTable .templateRow {
    display: none;
}

#profile, #switchRules, #tabNetworkBody table, #tabGeneralBody table, .optionGroup {
    width: 100%;
    height: 100%;
    border: solid 1px #d1dadd;
    border-spacing: 8px;
    empty-cells: show;
    padding: 6px;
    background-color: #f4f8fa;
}
input.globeCheckbox,input.xdebugModel {
    margin: 0  10px 0 20px;
    vertical-align: text-bottom;
}
#tabRulesBody input {
    margin: 0;
    vertical-align: text-bottom;
}


span.indent {
    -webkit-padding-start: 16px;
}

.tab div.indent {
    -webkit-padding-start: 16px;
    padding-bottom: 8px;
}

#tabRulesBody td, #tabNetworkBody td, #tabGeneralBody td, #tabImportExportBody td {
    white-space: nowrap;
    padding: 1px;
}

#tabRulesBody select, #tabNetworkBody select, #tabGeneralBody select, #tabImportExportBody select {
    width: 200px;
    height: 140%;
}

#tabRulesBody td:nth-child(2), #tabNetworkBody td:nth-child(2), #tabGeneralBody td:nth-child(2), #tabImportExportBody td:nth-child(2) {
    width: 100%;
}

#ruleListsTable select {
    height: 22px;
}

#ruleListsTable input, #ruleListsTable select {
    width: 100%;
}

#xdebugRules{
    margin-top:10px;
    display:none;
}
#xdebugRules table,#PopupRules table{
    width :100%;
    height: 300px;
}
#scopeRules{
    margin-top: 10px;
    height: 240px;
    width:100%;
    display:none;
}
#scopeRules textarea, #xdebugRules  textarea,#PopupRules textarea{
    resize: vertical;
    width:100%;
    height:100%;
    border:solid 1px #abc;
    border-radius:3px;
}
#xdebugIDEkey{
    padding: 10px 20px;
    line-height:25px;
}
#xdebugIDEkey .button{
    min-width: 80px;
    padding: 1px;
}
#xdebugIDEkey #ideSelect{
    margin: 0 10px;
    width: 270px;
}
#xdebugIDEkey #ideCustomkey{
    display:none;
}
#xdebugIDEkey #ideCustomkey input{
    width:200px;
}

#footer {
    padding-top: 30px;
    width:100%;
    height:60px;
    line-height: 60px;
    text-align: center;
    color: rgb(231, 231, 231);
}
